<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>인사이드 방탈출카페 Inside Room</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<!-- <meta name="naver-site-verification" content="a4c7c0b74939e544079a2e543653493a4628754a"/> -->
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<meta name="format-detection" content="telephone=no" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/js/jquery-1.7.1.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/import.css" />
	<link rel="stylesheet" type="text/css" href="/css/book.css" />

	<script type="text/javascript" src="/js/include.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="/js/slick.min.js"></script>
	<script type="text/javascript" src="/js/ScrollTrigger.min.js"></script>
	<script type="text/javascript" src="/js/modernizr.js"></script>

	<style>
		div#header div#wrap2 {
			display: none;
		}

		div#m_header div#m_wrap2 {
			display: none;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			if (Modernizr.touch) {
				// handle the adding of hover class when clicked
				$(".img").click(function (e) {
					if (!$(this).hasClass("hover")) {
						$(this).addClass("hover");
					}else{
						$(this).removeClass("hover");
					}
				});
			} else {
				// handle the mouseenter functionality
				$(".img").mouseenter(function () {
					$(this).addClass("hover");
				})
					// handle the mouseleave functionality
					.mouseleave(function () {
						$(this).removeClass("hover");
					});
			}

			$("#screen_black").css({ 'top': '59px', 'height': $(document).height() - 59 });
			$("#m_header ul.menu").hide();
			$("#m_header .m_menu").click(function () {
				alert("AA");
				$("ul.menu").show();
			});
			$("ul.menu li a.close").click(function () {
				$("ul.menu").hide();
			});
			$(".h_cont ul.sub").hide();
			$(".h_cont ul.menu li").click(function () {
				$("ul", this).slideToggle("fast");
			});
			$(".personal").hide();
			$(".div_agree_view").click(function(){
				$(".personal").show();
			});
			$(".person_exit").click(function(){
				$(".personal").hide();
			});

			var han_contpom = $("#m_header").offset();
			$(window).scroll(function () {
				if ($(document).scrollTop() > han_contpom.top) {
					$("#m_header").css("position", "fixed");
					$("#m_header").css("top", "0");
					$("#m_header").css("z-index", "999");
					$("#m_wrap1").hide();
					$("#m_wrap2").show();
				} else {
					// $("#m_header").css("position","fixed"); 
					//$("#m_header").css("top","0");
					$("#m_wrap1").show();
					$("#m_wrap2").hide();
				}
			});
		});
		$(function () {
			var han_contpos = $("#header").offset().top;
			$(window).scroll(function () {
				if ($(window).scrollTop() > han_contpos) {
					$("#header").css("position", "fixed");
					$("#header").css("top", "0");
					$("#wrap1").hide();
					$("#wrap2").show();
				} else {
					$("#header").css("top", "0");
					$("#wrap1").show();
					$("#wrap2").hide();
				}
			});

			var pickerDate = $("#res_date").data("date");
		});
		function pop_center(url, w, h, tb, st, di, mb, sb, re) {
			var position = "width=" + w + ",height=" + h + ",left=" + ((screen.width - w) / 2) + ",top=" + ((screen.height - h) / 2) + ",toolbar=" + tb + ",directories=" + di + ",status=" + st + ",menubar=" + mb + ",scrollbars=" + sb + ",resizable=" + re + "";
			window.open(url, '', position);
		}

		function start(num) {
			if (num == 1) {
				document.getElementById("popup").style.display = "block";
			}
			else if (num == 2) {
				document.getElementById("popup").style.display = "none";
			}
		}

		function setPerson(){
			var person = $('#input_person option:selected').val();
			if(person == 2){
				$("#input_price").val(44000);
				$("#text_price").text(priceStr(44000)+'원');
			}else if(person == 3){
				$("#input_price").val(60000);
				$("#text_price").text(priceStr(60000)+'원');
			}else if(person == 4){
				$("#input_price").val(72000);
				$("#text_price").text(priceStr(72000)+'원');
			}else if(person == 5){
				$("#input_price").val(85000);
				$("#text_price").text(priceStr(85000)+'원');
			}else if(person == 6){
				$("#input_price").val(90000);
				$("#text_price").text(priceStr(90000)+'원');
			}else{
				$("#input_price").val(0);
				$("#text_price").text(priceStr(0)+'원');
			}
		}

		function priceStr(price){
			var str = '';
			if(price>=1000){var p = Math.floor(price/1000); str += p; str += ',';price=price%1000;}
			if(price<100) str+='0';if(price<10) str+='0';str+=price;
			return str;
		}

		function res_submit(){
			var form = document.formInput;
			if(form.name_agree.checked == false){
				alert("개인정보취급방침에 체크해 주세요.");
				form.name_agree.focus();
				return false;
			}
			if(form.name_name.value.length < 2){
				if(form.name_name.value.length == 0) alert("예약자 이름을 입력하여 주세요.");
				else alert("이름을 두글자 이상 입력하여 주세요.");
				form.name_name.focus();
				return false;
			}
			if(form.name_phone1.value.length < 3){
				alert("연락처를 입력해 주세요.");
				form.name_phone1.focus();
				return false;
			}
			if(form.name_phone2.value.length < 4){
				alert("연락처를 입력해 주세요.");
				form.name_phone2.focus();
				return false;
			}
			if(form.name_phone3.value.length < 4){
				alert("연락처를 입력해 주세요.");
				form.name_phone3.focus();
				return false;
			}

			form.action = "book";
			form.method = "post";
			form.submit();
		}
	</script>
</head>

<body>
	<div id="header">
		<div id="wrap1">
			<div class="h_cont1">
				<h1><a href="/"><img src="/images/common/logo_han.png" class="logo" alt="로고" /></a></h1>
				<ul class="nav">
					<li><a href="/location">오시는길</a></li>
					<li><a href="/confirm">예약확인&#47;취소</a></li>
					<li><a href="/reserve">예약하기</a></li>
					<li><a href="/">테마소개</a></li>
				</ul>
			</div>
		</div>

		<div style="clear: both"></div>
		<div id="wrap2">
			<div class="h_cont2">
				<h1><a href="/"><img src="/images/common/logo_han.png" class="logo" alt="로고" /></a></h1>
				<ul class="nav">
					<li><a href="/location">오시는길</a></li>
					<li><a href="/confirm">예약확인&#47;취소</a></li>
					<li><a href="/reserve">예약하기</a></li>
					<li><a href="/">테마소개</a></li>
				</ul>
			</div>
		</div>
		<div style="clear: both"></div>
	</div>
	<!--// h_cont1 -->
	<div style="clear: both"></div>

	<div id="m_header">
		<div id="m_wrap1">
			<a href="/"><img src="/images/common/logo_han.png" class="logo" alt="로고" /></a>
			<a href="#/" class="to_nav"><img src="/images/common/menu_w.png" style="width:30px" alt="메뉴" /></a>
			<div id="nav_wrap">
				<ul class="nav">
					<li><a href="/">테마소개</a></li>
					<li><a href="/reserve">예약하기</a></li>
					<li><a href="/confirm">예약확인&#47;취소</a></li>
					<li><a href="/location">오시는길</a></li>
					<div style="clear: both"></div>
				</ul>
			</div>
		</div>

		<div style="clear: both"></div>

		<div id="m_wrap2">
			<a href="/"><img src="/images/common/logo_han.png" class="logo" alt="로고" /></a>
			<a href="#/" class="to_nav"><img src="/images/common/menu_w.png" style="width:30px" alt="메뉴" /></a>
			<div id="nav_wrap">
				<ul class="nav">
					<li><a href="/">테마소개</a></li>
					<li><a href="/reserve">예약하기</a></li>
					<li><a href="/confirm">예약확인&#47;취소</a></li>
					<li><a href="/location">오시는길</a></li>
					<div style="clear: both"></div>
				</ul>
			</div>
		</div>
	</div>
	<div id="screen_black"></div>
	<script>
		window.counter = function () {
			// this refers to the html element with the data-scroll-showCallback tag
			var span = this.querySelector('span');
			var current = parseInt(span.textContent);

			span.textContent = current + 1;
		};

		document.addEventListener('DOMContentLoaded', function () {
			var trigger = new ScrollTrigger({
				addHeight: true
			});
		});
	</script>

	<div id="contents">
		<div class="box1">
			<h2>예약정보 입력</h2>
			<div class="Lbline"></div><br />
			<h6>★학생할인★ 초, 중, 고등학생 할인<br />
			★조조할인★ 평일16시이전, 주말공휴일13시이전<br />
			현장에서 할인된 가격으로 결제 가능합니다.</h6>
		</div>
		<div class="divInput">
			<form name="formInput">
				<div class="resInput">
					<input type="hidden" name="name_branch" value="인사이드 방탈출카페">
					<input type="hidden" name="name_date" value="<%= date %>">
					<input type="hidden" name="name_theme" value="<%= theme %>">
					<input type="hidden" name="name_time" value="<%= time %>">
					<input type="hidden" name="name_price" id="input_price" value="44000">
					<table class="tableInput">
						<tbody>
							<tr>
								<th>지점</th>
								<td>인사이드 방탈출카페</td>
							</tr>
							<tr>
								<th>예약일</th>
								<td><%= date %></td>
							</tr>
							<tr>
								<th>테마명</th>
								<td><%= themeStr %></td>
							</tr>
							<tr>
								<th>예약시간</th>
								<td><%= time %></td>
							</tr>
							<tr>
								<th>예약자</th>
								<td>
									<input type="text" maxlength="10" name="name_name" class="input180" required>
								</td>
							</tr>
							<tr>
								<th>연락처</th>
								<td>
									<input type="number" pattern="[0-9]*" inputmode="numeric" min="0" maxlength="3" name="name_phone1" class="input50"
									onkeydown="this.value=this.value.replace(/[^0-9]/g,'')", onkeyup="this.value=this.value.replace(/[^0-9]/g,'')", onblur="this.value=this.value.replace(/[^0-9]/g,'')" value="<%= phone1 %>" required>
									<span>-</span>
									<input type="number" pattern="[0-9]*" inputmode="numeric" min="0" maxlength="4" name="name_phone2" class="input60"
									onkeydown="this.value=this.value.replace(/[^0-9]/g,'')", onkeyup="this.value=this.value.replace(/[^0-9]/g,'')", onblur="this.value=this.value.replace(/[^0-9]/g,'')" value="<%= phone2 %>" required>
									<span>-</span>
									<input type="number" pattern="[0-9]*" inputmode="numeric" min="0" maxlength="4" name="name_phone3" class="input60"
									onkeydown="this.value=this.value.replace(/[^0-9]/g,'')", onkeyup="this.value=this.value.replace(/[^0-9]/g,'')", onblur="this.value=this.value.replace(/[^0-9]/g,'')" value="<%= phone3 %>" required>
								</td>
							</tr>
							<tr>
								<th>인원</th>
								<td>
									<select name="name_person" class="input180" id="input_person" onchange="setPerson();">
										<option value="2">2명</option>
										<option value="3">3명</option>
										<option value="4">4명</option>
										<option value="5">5명</option>
										<option value="6">6명</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>가격</th>
								<td><span id="text_price">44,000원</span></td>
							</tr>
							<tr>
								<th>결제방식</th>
								<td>
									<select name="name_method" class="input180" id="input_method">
										<option value="0">현장결제</option>
										<option value="1">무통장결제</option>
										<option value="2">소셜결제</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="div_agree">
						<div class="div_check">
							<input type="checkbox" id="check_agree" name="name_agree">
						</div>
						<span class="span_agree"><b style="color:red;">개인정보취급방침</b>에 동의함</span>
						<div class="div_agree_view"><u>읽기</u></div>
					</div>
					<div class="personal">
						<div class="person_top">
							<div class="person_title">개인정보취급방침</div>
							<div class="person_exit"><u>닫기</u></div>
						</div>
						<div class="person_content">
							<textarea class="person_area">1. 개인정보의 수집·이용 목적, 수집하는 개인정보의 항목 및 수집방법
가. 컨텐츠 제공, 특정 맞춤 서비스 제공, 본인인증

나. 수집하는 개인정보의 항목 및 수집방법
첫째, 회사는 회원가입, 원활한 고객 상담, 각종 서비스의 제공을 위해 예약 당시 아래와 같은 최소한의 개인정보를 필수항목으로 수집하고 있습니다.

[예약] - 필수항목 : 이름, 휴대폰번호

둘째, 서비스 이용과정이나 사업처리 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
- IP Address, 예약 일시

2. 개인정보를 제공받는 사업자의 정보 전달 및 이용 목적.
상호명 방탈출카페 인사이드” (사업자등록번호 121-69-53572)는 개인정보 수집 및 이용에 대한 안내 정보통신망법 규정에 따라 서비스의 제공을 위해 최소한의 개인정보를 필수항목으로 수집하고 있습니다.

3. 개인정보의 보유 및 이용 기간, 개인정보의 파기절차 및 파기방법
이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면, 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 자동 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.

가. 회사 내부 방침에 의한 정보보유 사유
- 부정이용기록(부정예약 등의 비정상적 서비스 이용기록)
보존 항목 : 예약 휴대폰 번호
보존 이유 : 부정 이용 방지
보존 기간 : 6개월
※ ‘부정이용기록’이란 부정 예약 및 운영원칙에 위배되는 온라인 공격 등으로 인해 회사로부터 이용제한 등을 당한 기록입니다.

나. 관련법령에 의한 정보보유 사유
상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.

- 계약 또는 청약철회 등에 관한 기록
보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률
보존 기간 : 5년
- 소비자의 불만 또는 분쟁처리에 관한 기록
보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률
보존 기간 : 3년
- 웹사이트 방문기록
보존 이유 : 통신비밀보호법
보존 기간 : 3개월
4. 이용자 및 법정대리인의 권리와 그 행사방법
이용자들의 개인정보 조회, 수정을 위해서는 '예약확인'을 예약해지를 위해서는 "예약취소"를 클릭하여 예약 확인 절차를 거치신 후 직접 열람, 또는 취소가 가능합니다. 혹은 개인정보관리책임자에게 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.

귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다.
또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
회사는 이용자의 요청에 의해 해지 또는 삭제된 개인정보는 "회사가 수집하는 개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.

만 14세 미만 아동의 경우 법정 대리인이 아동의 개인정보를 조회하거나 수정할 권리, 수집 및 이용 동의를 철회할 권리를 가집니다.

5. 개인정보보호에 관한 민원서비스
고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.

-개인정보관리책임자 성명 : 김광수
-전화번호 : 010-6386-1357
-이메일 : kaosu@naver.com

기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.

1. 개인분쟁조정위원회 (www.1336.or.kr/1336)
2. 정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)
3. 대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)
4. 경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)
							</textarea>
						</div>
					</div>
				</div>
				<div class="Lbline"></div><br />
				<div>
					<div class="btn_agree">
						<a onclick="res_submit();">
							<div class='to1'>예약하기</div>
						</a>
					</div>
				</div>
				<div style="clear: both"></div>
			</form>
			<div style="clear: both"></div>
		</div>
	</div>
	<!-- <div id="mask"></div> -->
	<div id="footer">
		<div id="wrap">
			<div class="f_left">
				<img src="/images/common/logo_w.png" class="logo" alt="로고" /><br />
				<h1>인사이드 방탈출카페</h1>
				<div class="Wbline"></div>
				<br />
				<h3>
					대표 김광수 <br />
					사업자등록번호 121-69-53572<br />
					사업장주소 경기도 고양시 일산동구 무궁화로 25-3, 3층 302, 303호<br />
					(장항동, 이레21투빌딩)<br /><br />
				</h3>
			</div>
			<div class="f_right">
				<ul class="co">
					<li>
						<h1>고객센터</h1>
						<div class="Wbline"></div>
						<h4>이용 / 예약안내 :  <br />
							Tel : (031) 915 - 2077 <br />
							<!-- Mob : 010 - 6386 - 1357 <br /> -->
						</h4>
						<h4>운영시간(입장시간) : <br />
						(월-금) 12:00 ~ 21:30 <br />
						(토-일) 11:00 ~ 22:30
						</h4>
					</li>
				</ul>
			</div>
		</div>
		<div style="clear: both"></div>
	</div>
	<!--// footer -->
</body>

</html>